## ASP.NET Core
appsettings.json
appsettings.Development.json

## Docker
docker-compose.yml

## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo

## NuGet
packages/
*.nupkg

## OS
.DS_Store
Thumbs.db

## env file
.env
.env.local